body {
    background: rgb(17, 17, 17);
    font-family: "roboto", sans-serif;
    font-size: 2em;
    color: white;
}

.sub-wrapper {
    text-align: center;
}

#typeWriter {
    width: 100vw;
    border-left: 5px solid white;
    padding-left: 5px;
    animation: animate 1s infinite;
    opacity: 0;
}

@keyframes animate {
    100% {
        opacity: 1;
    }
}